{
  "filters": [
    {
      "id": "brand_mentions",
      "chats": ["5000042366"],
      "match": {
        "keywords_any": ["any","keyword"],
        "keywords_all": ["all", "keywords", "at", "once"],
        "regex": "some\s?regex",
        "exclude_any": ["white", "black"],
        "exclude_regex": "\\s(papper|coffie)\\s"
      },
      "urgent": true,
      "notify": {
        "recipients": ["5002402758"],
        "forward": "yes",
        "template": "☎: {{keywords}}\n🔗 {{message_link}}"
      }
    }
  ]
}
